In [0]:
def minTemperature(df,spark):
    return spark.sql("SELECT min(temperature) as mintemp from washing").first().mintemp

In [0]:
def meanTemperature(df,spark):
    #array = spark.sql("SELECT sum(temperature) as sum_temp, count(*) as counts from washing").first()
    #sum = array.sum_temp
    #counts = array.counts
    return spark.sql('select avg(temperature) as mean from washing').first().mean

In [0]:
def maxTemperature(df,spark):
    return spark.sql("SELECT max(temperature) as maxtemp from washing").first().maxtemp

In [0]:
from pyspark.sql.functions import mean as _mean, stddev as _stddev, col

def sdTemperature(df,spark):
    temp_st = df.select(_stddev(col('temperature')).alias('std')).collect()
    return temp_st[0]['std']

In [0]:
def skewTemperature(df,spark):    
    return spark.sql("""
SELECT 
    (
        1/count(*)
    ) *
    SUM (
        POWER(temperature-%s,3)/POWER(%s,3)
    )

as skew from washing
                    """ %(meanTemperature(df,spark),sdTemperature(df,spark))).first().skew##INSERT YOUR CODE HERE##

In [0]:
def kurtosisTemperature(df,spark):    
    return spark.sql("""
SELECT 
    (
        1/count(*)
    ) *
    SUM (
        POWER(temperature-%s,4)/POWER(%s,4)
    )

as kurtosis from washing
                    """ %(meanTemperature(df,spark),sdTemperature(df,spark))).first().kurtosis##INSERT YOUR CODE HERE##

In [0]:
def correlationTemperatureHardness(df,spark):
    return df.corr('temperature', 'hardness', method =  None)

In [0]:
database = "washing"
credentials_2 = {
  'password':"""63b1128f2fbeb7881dd7702488276d8226b1a1e16209dfb3a693a28ca05bf379""",
  'custom_url':'https://5e0ffb67-6130-4fee-bc91-45376ea54d8d-bluemix:63b1128f2fbeb7881dd7702488276d8226b1a1e16209dfb3a693a28ca05bf379@5e0ffb67-6130-4fee-bc91-45376ea54d8d-bluemix.cloudantnosqldb.appdomain.cloud',
  'username':'5e0ffb67-6130-4fee-bc91-45376ea54d8d-bluemix',
  'url':'https://undefined'
}

In [0]:
def readDataFrameFromCloudant(database):
    cloudantdata=spark.read.load(database, "com.cloudant.spark")

    cloudantdata.createOrReplaceTempView("washing")
    spark.sql("SELECT * from washing").show()
    return cloudantdata

In [0]:
spark = SparkSession\
    .builder\
    .appName("Cloudant Spark SQL Example in Python using temp tables")\
    .config("cloudant.host",credentials_2['custom_url'].split(':')[2].split('@')[1])\
    .config("cloudant.username", credentials_2['username'])\
    .config("cloudant.password",credentials_2['password'])\
    .config("jsonstore.rdd.partitions", 1)\
    .getOrCreate()

In [0]:
df=readDataFrameFromCloudant(database)

+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|                 _id|                _rev|count|flowrate|fluidlevel|frequency|hardness|speed|temperature|           ts|voltage|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
|029aa961fb0e4285e...|1-9781b903bd35835...|    2|      11|acceptable|     null|      70| null|         95|1546312127814|   null|
|029aa961fb0e4285e...|1-01a856297db360f...|    9|      11|acceptable|     null|      71| null|         82|1546312134871|   null|
|029aa961fb0e4285e...|1-1e6e4a54c756ef0...|   32|      11|acceptable|     null|      76| null|         91|1546312157930|   null|
|029aa961fb0e4285e...|1-f7c500159e119f6...|   39|      11|acceptable|     null|      70| null|         87|1546312164954|   null|
|029aa961fb0e4285e...|1-236eb3a9d488938...|   41|      11|acceptable|     null|      72| null|         94|1546312166956|   null|
|029aa961fb0e4285e...|1-793c15b0c1a639c...|   54|      11|acceptable|     null|      78| null|         94|1546312180012|   null|
|029aa961fb0e4285e...|1-2015db3d0069029...|   60|      11|acceptable|     null|      70| null|         98|1546312186022|   null|
|029aa961fb0e4285e...|1-83f4941e358c1fc...|   21|    null|      null|       70|    null| null|       null|1546312188871|    225|
|029aa961fb0e4285e...|1-7dc7075e282f269...|   13|    null|      null|     null|    null| 1016|       null|1546312190835|   null|
|029aa961fb0e4285e...|1-93b1e970f49b61c...|   76|      11|acceptable|     null|      72| null|         86|1546312202052|   null|
|029aa961fb0e4285e...|1-9ee1dff57e4737e...|   28|    null|      null|       65|    null| null|       null|1546312209882|    220|
|029aa961fb0e4285e...|1-d2640b568a33958...|   31|    null|      null|       66|    null| null|       null|1546312218885|    227|
|029aa961fb0e4285e...|1-d1b14f0c11937e9...|   19|    null|      null|     null|    null| 1022|       null|1546312220847|   null|
|029aa961fb0e4285e...|1-156e30a4f7ce1cd...|   21|    null|      null|     null|    null| 1021|       null|1546312230850|   null|
|029aa961fb0e4285e...|1-4d37eeb2ff1b080...|  120|      11|acceptable|     null|      77| null|         82|1546312246119|   null|
|029aa961fb0e4285e...|1-0a342f999e31e6f...|  122|      11|acceptable|     null|     105| null|         82|1546312248122|   null|
|029aa961fb0e4285e...|1-62cbc2370b196ab...|  125|      11|acceptable|     null|     120| null|         97|1546312251125|   null|
|029aa961fb0e4285e...|1-166e2dab85c1c00...|   43|    null|      null|       62|    null| null|       null|1546312254899|    230|
|029aa961fb0e4285e...|1-f4a6089abb25682...|  134|      11|acceptable|     null|     165| null|         97|1546312260138|   null|
|029aa961fb0e4285e...|1-7dc16d94473d481...|  146|      11|acceptable|     null|      70| null|         87|1546312272154|   null|
+--------------------+--------------------+-----+--------+----------+---------+--------+-----+-----------+-------------+-------+
only showing top 20 rows

In [0]:
minTemperature(df,spark)

80

In [0]:
meanTemperature(df,spark)

90.0196319018405

In [0]:
maxTemperature(df,spark)

100

In [0]:
sdTemperature(df,spark)

[Row(std=6.034185713550412)]

In [0]:
skewTemperature(df,spark)

101.29141643096514

In [0]:
kurtosisTemperature(df,spark)

579.440369431416

In [0]:
correlationTemperatureHardness(df,spark)

0.9152361895293837