Discrete Fourier Transform for Feature Engineering in order to boost Model Performance. 

The DFT function is used to transform the IoT data from the time series domain to Frequency and this new features are then used to correctly predict. It gives an accuracy of 99%.

In [0]:
#your cloudant credentials go here
# @hidden_cell
# @hidden_cell
credentials_1 = {
  'password':"""d8f3b5450d8851eeeb421613929f1013a605e6823d0bdb6cc40ca27553a4d958""",
  'custom_url':'https://54fbff02-a585-44c5-a93d-1cc831fa4e02-bluemix:d8f3b5450d8851eeeb421613929f1013a605e6823d0bdb6cc40ca27553a4d958@54fbff02-a585-44c5-a93d-1cc831fa4e02-bluemix.cloudantnosqldb.appdomain.cloud',
  'username':'54fbff02-a585-44c5-a93d-1cc831fa4e02-bluemix',
  'url':'https://undefined'
}

In [0]:
spark = SparkSession\
    .builder\
    .appName("Cloudant Spark SQL Example in Python using temp tables")\
    .config("cloudant.host",credentials_1['custom_url'].split('@')[1])\
    .config("cloudant.username", credentials_1['username'])\
    .config("cloudant.password",credentials_1['password'])\
    .config("jsonstore.rdd.partitions", 1)\
    .getOrCreate()

In [0]:
df=spark.read.load('shake_classification', "com.cloudant.spark")
df.createOrReplaceTempView("df")

In [0]:
!pip install systemml

Collecting systemml
  Downloading https://files.pythonhosted.org/packages/b1/94/62104cb8c526b462cd501c7319926fb81ac9a5668574a0b3407658a506ab/systemml-1.2.0.tar.gz (9.7MB)
    100% |████████████████████████████████| 9.7MB 2.0MB/s eta 0:00:01    15% |████▉                           | 1.5MB 22.0MB/s eta 0:00:01    64% |████████████████████▌           | 6.2MB 49.7MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.8.2 in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from systemml) (1.13.3)
Requirement already satisfied: scipy>=0.15.1 in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from systemml) (1.0.0)
Requirement already satisfied: pandas in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from systemml) (0.21.0)
Requirement already satisfied: scikit-learn in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from systemml) (0.19.1)
Requirement already satisfied: Pillow>=2.0.0 in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from systemml) (4.2.1)
Requirement already satisfied: python-dateutil>=2 in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from pandas->systemml) (2.6.1)
Requirement already satisfied: pytz>=2011k in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from pandas->systemml) (2018.4)
Requirement already satisfied: olefile in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from Pillow>=2.0.0->systemml) (0.44)
Requirement already satisfied: six>=1.5 in /usr/local/src/conda3_runtime.v49/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages (from python-dateutil>=2->pandas->systemml) (1.11.0)
Building wheels for collected packages: systemml
  Running setup.py bdist_wheel for systemml ... done
  Stored in directory: /gpfs/fs01/user/sc6d-e6d9cb3c852b4b-ad3990c75ec5/.cache/pip/wheels/cf/07/79/b3ed6f12afe06b2ab55d60dcfd62e66240f5d8c6088a518177
Successfully built systemml
notebook 5.0.0 requires nbconvert, which is not installed.
ipywidgets 6.0.0 requires widgetsnbextension~=2.0.0, which is not installed.
tensorflow 1.3.0 requires tensorflow-tensorboard<0.2.0,>=0.1.0, which is not installed.
Installing collected packages: systemml
Successfully installed systemml-1.2.0

In [0]:
from systemml import MLContext, dml
ml = MLContext(spark)

In [0]:
dml_script = '''
PI = 3.141592654
N = nrow(signal)

n = seq(0, N-1, 1)
k = seq(0, N-1, 1)

M = (n %*% t(k))*(2*PI/N)

Xa = cos(M) %*% signal
Xb = sin(M) %*% signal

DFT = cbind(Xa, Xb)
'''

In [0]:
from pyspark.sql.functions import monotonically_increasing_id

def dft_systemml(signal,name):
    prog = dml(dml_script).input('signal', signal).output('DFT')
    
    return (

    #execute the script inside the SystemML engine running on top of Apache Spark
    ml.execute(prog) 
     
         #read result from SystemML execution back as SystemML Matrix
        .get('DFT') 
     
         #convert SystemML Matrix to ApacheSpark DataFrame 
        .toDF() 
     
         #rename default column names
        .selectExpr('C1 as %sa' % (name), 'C2 as %sb' % (name)) 
     
         #add unique ID per row for later joining
        .withColumn("id", monotonically_increasing_id())
    )

In [0]:
x0 = spark.sql('select * from df')
x0.show()

+-----+--------+-----+-----+-----+--------------------+--------------------+
|CLASS|SENSORID|    X|    Y|    Z|                 _id|                _rev|
+-----+--------+-----+-----+-----+--------------------+--------------------+
|    0|asdfghjk|  0.0|  0.0|  0.0|0a9b38684ae98e089...|1-461daac6b553896...|
|    0|asdfghjk|  0.0|  0.0|  0.0|0a9b38684ae98e089...|1-461daac6b553896...|
|    0|asdfghjk|  0.0|  0.0|  0.0|0a9b38684ae98e089...|1-461daac6b553896...|
|    0|asdfghjk| 0.38| 0.38| 0.38|0a9b38684ae98e089...|1-c5e0fdd38c44f0b...|
|    0|asdfghjk| 0.38| 0.38| 0.38|0a9b38684ae98e089...|1-c5e0fdd38c44f0b...|
|    0|asdfghjk| 0.38| 0.38| 0.38|0a9b38684ae98e089...|1-c5e0fdd38c44f0b...|
|    0|asdfghjk| 0.38| 0.38| 0.38|0a9b38684ae98e089...|1-c5e0fdd38c44f0b...|
|    0|asdfghjk| 0.38| 0.38| 0.38|0a9b38684ae98e089...|1-c5e0fdd38c44f0b...|
|    0|asdfghjk| 0.38| 0.38| 0.38|0a9b38684ae98e089...|1-c5e0fdd38c44f0b...|
|    0|asdfghjk| 0.38| 0.38| 0.38|0a9b38684ae98e089...|1-c5e0fdd38c44f0b...|
|    0|asdfghjk| 0.38| 0.38| 0.38|0a9b38684ae98e089...|1-c5e0fdd38c44f0b...|
|    0|asdfghjk| 0.38| 0.38| 0.38|0a9b38684ae98e089...|1-c5e0fdd38c44f0b...|
|    0|asdfghjk| 1.16| 1.16| 1.16|0a9b38684ae98e089...|1-d2b9fb4163bcde3...|
|    0|asdfghjk|-3.01|-3.01|-3.01|0a9b38684ae98e089...|1-e69fb4a4b44ebb9...|
|    0|asdfghjk|-1.34|-1.34|-1.34|0a9b38684ae98e089...|1-b7a74f038247bd0...|
|    0|asdfghjk|-1.04|-1.04|-1.04|0a9b38684ae98e089...|1-77aa23cfe009cb1...|
|    0|asdfghjk|-0.47|-0.47|-0.47|0a9b38684ae98e089...|1-fac9b17ffe87279...|
|    0|asdfghjk|-0.07|-0.07|-0.07|0a9b38684ae98e089...|1-63ba1a78225108c...|
|    0|asdfghjk|-0.17|-0.17|-0.17|0a9b38684ae98e089...|1-10eaed46699489c...|
|    0|asdfghjk| 0.06| 0.06| 0.06|0a9b38684ae98e089...|1-b0e0ea0b0976f0b...|
+-----+--------+-----+-----+-----+--------------------+--------------------+
only showing top 20 rows

In [0]:
x0 = spark.sql('select X from df where class= 0')
y0 = spark.sql('select Y from df where class= 0')
z0 = spark.sql('select Z from df where class= 0')
x1 = spark.sql('select X from df where class= 1')
y1 = spark.sql('select Y from df where class= 1')
z1 = spark.sql('select Z from df where class= 1')

In [0]:
from pyspark.sql.functions import lit

df_class_0 = dft_systemml(x0,'x') \
    .join(dft_systemml(y0,'y'), on=['id'], how='inner') \
    .join(dft_systemml(z0,'z'), on=['id'], how='inner') \
    .withColumn('class', lit(0))
    
df_class_1 = dft_systemml(x1,'x') \
    .join(dft_systemml(y1,'y'), on=['id'], how='inner') \
    .join(dft_systemml(z1,'z'), on=['id'], how='inner') \
    .withColumn('class', lit(1))

df_dft = df_class_0.union(df_class_1)

df_dft.show()

SystemML Statistics:
Total execution time:		1.426 sec.
Number of executed Spark inst:	0.


SystemML Statistics:
Total execution time:		0.741 sec.
Number of executed Spark inst:	0.


SystemML Statistics:
Total execution time:		0.636 sec.
Number of executed Spark inst:	0.


SystemML Statistics:
Total execution time:		0.003 sec.
Number of executed Spark inst:	0.


SystemML Statistics:
Total execution time:		0.000 sec.
Number of executed Spark inst:	0.


SystemML Statistics:
Total execution time:		0.000 sec.
Number of executed Spark inst:	0.


+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----+
|        id|                 xa|                 xb|                 ya|                 yb|                 za|                 zb|class|
+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----+
|        26|-22.140100150148946| 7.5121185691704735|-22.140100150148946| 7.5121185691704735|-22.140100150148946| 7.5121185691704735|    0|
|        29| 29.169217066007416| 16.030068471360376| 29.169217066007416| 16.030068471360376| 29.169217066007416| 16.030068471360376|    0|
|       474|   9.99386553607389|  -8.73770952869756|   9.99386553607389|  -8.73770952869756|   9.99386553607389|  -8.73770952869756|    0|
|8589934658|-3.3567032579050027| 3.3399564167848297|-3.3567032579050027| 3.3399564167848297|-3.3567032579050027| 3.3399564167848297|    0|
|8589934965|  6.557377149992547| 1.0562985526831719|  6.557377149992547| 1.0562985526831719|  6.557377149992547| 1.0562985526831719|    0|
|8589935171|-11.810420729088726|-1.7506943555301009|-11.810420729088726|-1.7506943555301009|-11.810420729088726|-1.7506943555301009|    0|
|8589935183|  20.92146173222671| 16.077827152404026|  20.92146173222671| 16.077827152404026|  20.92146173222671| 16.077827152404026|    0|
|8589935298| -4.956354378603447|  16.47402111430283| -4.956354378603447|  16.47402111430283| -4.956354378603447|  16.47402111430283|    0|
|8589935317|-0.4455459497146238| -5.116757450705542|-0.4455459497146238| -5.116757450705542|-0.4455459497146238| -5.116757450705542|    0|
|        65| 3.4420265419035774|-12.086399673136954| 3.4420265419035774|-12.086399673136954| 3.4420265419035774|-12.086399673136954|    0|
|       191|  9.285550278905294|  9.038461971300594|  9.285550278905294|  9.038461971300594|  9.285550278905294|  9.038461971300594|    0|
|       418|   17.0382700145012|  2.828722928163607|   17.0382700145012|  2.828722928163607|   17.0382700145012|  2.828722928163607|    0|
|       541|  2.549033746674751|-2.0982134401375827|  2.549033746674751|-2.0982134401375827|  2.549033746674751|-2.0982134401375827|    0|
|       558| -6.473660752417409| 6.1111632337859225| -6.473660752417409| 6.1111632337859225| -6.473660752417409| 6.1111632337859225|    0|
|8589934785|  7.504494423923585| 1.9939509821204289|  7.504494423923585| 1.9939509821204289|  7.504494423923585| 1.9939509821204289|    0|
|8589934903| -5.797966447340588| -8.485965634666238| -5.797966447340588| -8.485965634666238| -5.797966447340588| -8.485965634666238|    0|
|8589935056|  -10.0495348501359|-15.755048053775818|  -10.0495348501359|-15.755048053775818|  -10.0495348501359|-15.755048053775818|    0|
|8589935196| 11.870183527951827| 1.4472659282772782| 11.870183527951827| 1.4472659282772782| 11.870183527951827| 1.4472659282772782|    0|
|8589935211| 2.5223507040291135| -8.907224917202708| 2.5223507040291135| -8.907224917202708| 2.5223507040291135| -8.907224917202708|    0|
|8589935333|  7.914270683031487|-14.643152730454256|  7.914270683031487|-14.643152730454256|  7.914270683031487|-14.643152730454256|    0|
+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----+
only showing top 20 rows

In [0]:
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler(inputCols=['xa', 'xb', 'ya', 'yb', 'za', 'zb'], outputCol="features")

In [0]:
from pyspark.ml.classification import GBTClassifier
classifier = GBTClassifier(labelCol='class', featuresCol = 'features', maxIter = 10)

In [0]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[vectorAssembler, classifier])

In [0]:
model = pipeline.fit(df_dft)

In [0]:
prediction = model.transform(df_dft)

In [0]:
prediction.show()

+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----+--------------------+----------+
|        id|                 xa|                 xb|                 ya|                 yb|                 za|                 zb|class|            features|prediction|
+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----+--------------------+----------+
|        26|-22.140100150148946| 7.5121185691704735|-22.140100150148946| 7.5121185691704735|-22.140100150148946| 7.5121185691704735|    0|[-22.140100150148...|       0.0|
|        29| 29.169217066007416| 16.030068471360376| 29.169217066007416| 16.030068471360376| 29.169217066007416| 16.030068471360376|    0|[29.1692170660074...|       0.0|
|       474|   9.99386553607389|  -8.73770952869756|   9.99386553607389|  -8.73770952869756|   9.99386553607389|  -8.73770952869756|    0|[9.99386553607389...|       0.0|
|8589934658|-3.3567032579050027| 3.3399564167848297|-3.3567032579050027| 3.3399564167848297|-3.3567032579050027| 3.3399564167848297|    0|[-3.3567032579050...|       0.0|
|8589934965|  6.557377149992547| 1.0562985526831719|  6.557377149992547| 1.0562985526831719|  6.557377149992547| 1.0562985526831719|    0|[6.55737714999254...|       0.0|
|8589935171|-11.810420729088726|-1.7506943555301009|-11.810420729088726|-1.7506943555301009|-11.810420729088726|-1.7506943555301009|    0|[-11.810420729088...|       0.0|
|8589935183|  20.92146173222671| 16.077827152404026|  20.92146173222671| 16.077827152404026|  20.92146173222671| 16.077827152404026|    0|[20.9214617322267...|       0.0|
|8589935298| -4.956354378603447|  16.47402111430283| -4.956354378603447|  16.47402111430283| -4.956354378603447|  16.47402111430283|    0|[-4.9563543786034...|       0.0|
|8589935317|-0.4455459497146238| -5.116757450705542|-0.4455459497146238| -5.116757450705542|-0.4455459497146238| -5.116757450705542|    0|[-0.4455459497146...|       0.0|
|        65| 3.4420265419035774|-12.086399673136954| 3.4420265419035774|-12.086399673136954| 3.4420265419035774|-12.086399673136954|    0|[3.44202654190357...|       0.0|
|       191|  9.285550278905294|  9.038461971300594|  9.285550278905294|  9.038461971300594|  9.285550278905294|  9.038461971300594|    0|[9.28555027890529...|       0.0|
|       418|   17.0382700145012|  2.828722928163607|   17.0382700145012|  2.828722928163607|   17.0382700145012|  2.828722928163607|    0|[17.0382700145012...|       0.0|
|       541|  2.549033746674751|-2.0982134401375827|  2.549033746674751|-2.0982134401375827|  2.549033746674751|-2.0982134401375827|    0|[2.54903374667475...|       0.0|
|       558| -6.473660752417409| 6.1111632337859225| -6.473660752417409| 6.1111632337859225| -6.473660752417409| 6.1111632337859225|    0|[-6.4736607524174...|       0.0|
|8589934785|  7.504494423923585| 1.9939509821204289|  7.504494423923585| 1.9939509821204289|  7.504494423923585| 1.9939509821204289|    0|[7.50449442392358...|       0.0|
|8589934903| -5.797966447340588| -8.485965634666238| -5.797966447340588| -8.485965634666238| -5.797966447340588| -8.485965634666238|    0|[-5.7979664473405...|       0.0|
|8589935056|  -10.0495348501359|-15.755048053775818|  -10.0495348501359|-15.755048053775818|  -10.0495348501359|-15.755048053775818|    0|[-10.049534850135...|       0.0|
|8589935196| 11.870183527951827| 1.4472659282772782| 11.870183527951827| 1.4472659282772782| 11.870183527951827| 1.4472659282772782|    0|[11.8701835279518...|       0.0|
|8589935211| 2.5223507040291135| -8.907224917202708| 2.5223507040291135| -8.907224917202708| 2.5223507040291135| -8.907224917202708|    0|[2.52235070402911...|       0.0|
|8589935333|  7.914270683031487|-14.643152730454256|  7.914270683031487|-14.643152730454256|  7.914270683031487|-14.643152730454256|    0|[7.91427068303148...|       0.0|
+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-----+--------------------+----------+
only showing top 20 rows

In [0]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
binEval = MulticlassClassificationEvaluator().setMetricName("accuracy") .setPredictionCol("prediction").setLabelCol("class") 
binEval.evaluate(prediction)

0.998813056379822